<?xml version="1.0"?>
<config>
  <modules>
    <Skye_Skyewidgets>
        <version>0.0.1</version>
    </Skye_Skyewidgets>
  </modules>
  <global>
    <helpers>
      <skyewidgets>
        <class>Skye_Skyewidgets_Helper</class>
      </skyewidgets>
    </helpers>
    <blocks>
      <skyewidgets>
        <!-- <module root>/[Form|Info]/Skyepayments.php -->
        <class>Skye_Skyewidgets_Block</class>
      </skyewidgets>
    </blocks>
    <models>
      <skyewidgets>
        <class>Skye_Skyewidgets_Model</class>
      </skyewidgets>
    </models>
  </global>
</config>